{% extends 'base.html.twig' %}

{% block title %}FoodOrders{% endblock %}

{% block body %}
    <h1>FoodOrders</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ food_order.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ food_order.Date ? food_order.Date|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Persons</th>
                <td>{{ food_order.Persons }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ food_order.Price }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('food_orders_index') }}">back to list</a>

    <a href="{{ path('food_orders_edit', {'id': food_order.id}) }}">edit</a>

    {{ include('food_orders/_delete_form.html.twig') }}
{% endblock %}
