{% extends 'base.html.twig' %}

{% block title %}Restaurant index{% endblock %}

{% block body %}
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Menu
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="{{ path('customers_index') }}">Customers</a>
    <a class="dropdown-item" href="{{ path('booking_index') }}">Booking</a>
    <a class="dropdown-item" href="{{ path('food_orders_index') }}">food orders</a>
    <a class="dropdown-item" href="{{ path('restaurant_index') }}">Restaurant</a>
    <a class="dropdown-item" href="{{ path('rooms_index') }}">Rooms</a>
  </div>
</div>
    <h1>Restaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for restaurant in restaurants %}
            <tr>
                <td>{{ restaurant.id }}</td>
                <td>{{ restaurant.Name }}</td>
                <td>
                    <a href="{{ path('restaurant_show', {'id': restaurant.id}) }}">show</a>
                    <a href="{{ path('restaurant_edit', {'id': restaurant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('restaurant_new') }}">Create new</a>
{% endblock %}
